body {
	font-family: "Untitled Sans", sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.36;
	letter-spacing: -0.5px;
	color: #3B4338;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fdfdfd;
	margin: 0px;
	overscroll-behavior: none;
}
	::selection { background: rgba(77,129,119,0.1); }
	::-moz-selection { background: rgba(77,129,119,0.1); }

#wrap {
	width: 80%;
	max-width: 1800px;
	margin: 60px auto;
	padding-left: 52%;
}

#header {
	width: 100%;
	padding-bottom: 240px;
}

.main {
	width: 600px;
}

.indent {
	text-indent: 80px;
}

a {
	color: inherit;
	text-decoration: underline;
	/*border-bottom: 1px dashed;*/
	/*border-bottom-style: dotted;*/
	cursor: ne-resize;
 	transition: ease-out 0.2s;
 	-webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    -o-transition: ease-out 0.2s;
}

a:visited {
	color: inherit;
}

a:hover {
	color: #5EBA78;
}

	a.ysdn:hover {
		color: #E61031;
	}

	a.fb:hover {
		color: #39579A;
	}

	a.msgr:hover {
		color: #0080FF;
	}

	a.summit:hover {
		color: #4D4B98;
	}


.img_box { width: 100%; }


#fade {
	width: 100%;
	/* max-width: 1800px; */
	height: 3%;
 	position: fixed;
    bottom: 0;
    pointer-events: none;
}

.day {
 	background: #fdfdfd; /* For browsers that do not support gradients */
 	background: -webkit-linear-gradient(rgba(238, 238, 238, 0), rgba(255, 239, 130, 0.6)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(238, 238, 238, 0), rgba(255, 239, 130, 0.6)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(238, 238, 238, 0), rgba(255, 239, 130, 0.6)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(238, 238, 238, 0), rgba(255, 239, 130, 0.6)); /* Standard syntax */
}

.dusk {
	background: #595C69; /* For browsers that do not support gradients */
 	background: -webkit-linear-gradient(rgba(242, 243, 246, 0), rgba(248, 192, 192, 0.6)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(242, 243, 246, 0), rgba(248, 192, 192, 0.6)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(242, 243, 246, 0), rgba(248, 192, 192, 0.6)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(242, 243, 246, 0), rgba(248, 192, 192, 0.6)); /* Standard syntax */
}

.night {
 	background: #252922; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(rgba(36, 41, 34, 0), rgba(255, 173, 131, 0.5)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(36, 41, 34, 0), rgba(255, 173, 131, 0.5)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(36, 41, 34, 0), rgba(255, 173, 131, 0.5)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(36, 41, 34, 0), rgba(255, 173, 131, 0.5)); /* Standard syntax */
}

.text-night {
	color: #EEEAF0;
}

/* * * * * */

@media screen and (max-width: 1400px) {
	#wrap {
		margin-top: 10px;
		padding-left: 40%;
	}

	.main {
		width: 520px;
	}
} 

@media screen and (max-width: 1000px) {
	#wrap {
		width: 92%;
		margin-top: 10px;
	}

   	.main {
		width: 480px; 
	}

}

@media screen and (max-width: 780px) {
	#wrap {
		width: 92%;
		margin-top: 10px;
		padding-left: 0px;
	}

   	.main {
		width: 92%; 
	}

	#header {
		padding-bottom: 40px;
	}

	body {
		font-size: 1.2rem;
	}

	.indent {
		text-indent: 40px;
	}
}

/*

@media screen and (max-width: 480px) {
	#wrap {
		width: 92%;
		margin: 10px auto;
	}

	#fade {
		height: 2%;
	}
}

*/


/* letters */

@font-face {
    font-family: 'Untitled Sans';
    src: url('../fonts/UntitledSans-regular-webfont.woff2') format('woff2'),
         url('../fonts/UntitledSans-regular-webfont.woff') format('woff'),
         url('../fonts/UntitledSans-regular-webfont.ttf') format('truetype'),
         url('../fonts/UntitledSans-regular-webfont.svg#untitled_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
  font-family:'Maison Neue Mono';
  src: url('../fonts/MaisonNeue-Mono.eot');
  src: url('../fonts/MaisonNeue-Mono.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MaisonNeue-Mono.woff') format('woff'),
    url('../fonts/MaisonNeue-Mono.ttf') format('truetype'),
    url('../fonts/MaisonNeue-Mono.svg#MaisonNeue-Mono') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-F8FF;
}

