body {
    margin: 0;
    background-color: rgba(248,247,248,1); 
    color: #1E2B22;
    height: 100vh;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -webkit-transition: all 0.3s;
    transition: all 0.3s;
}


*:focus {
    outline: 0;
}

::-moz-selection { background: rgba(238, 232, 238, 0.3); }
::selection { background: rgba(238, 232, 238, 0.3); }

#wrap {
    width: 94%;
    margin: 0 auto;
    max-width: 2200px;
}

h1 {
    font-family: 'Canela Web Thin', serif;
    font-size: 4rem;
    font-weight: 100;
    margin-top: 2px;
    max-width: 900px;
    line-height: 1;
}
    .date {
        font-family: 'Neue Haas Unica Pro', sans-serif;
        font-weight: 200;
        letter-spacing: -1px;
    }

.dark {
    color: #324039;
}

#open {
    position: absolute;
    bottom: 100px;
}
    
a {
    text-decoration: none;
    color: inherit;
}

img {
    opacity: 1;
    transition: opacity 0.3s;
}

img[data-src] {
    opacity: 0;
}

.gallery {
    margin: 0;
    padding: 0;
    /*vertical-align: middle;*/
}

.gallery img {
    padding: 20px 30px;
}

  .slick-slide {
    opacity: .5;
  }
  .slick-center {
    opacity: 1;
  }

.meta {
    font-family: 'Neue Haas Unica Pro', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #888B8D;
    letter-spacing: 1px;
}

.byline {
    display: block;
    margin-top: 80px;
}

#counter {
    position: relative;
    /*bottom: 10%;*/
    left: 230px;
    z-index: 1;
}

#viewCount {
    position: absolute;
    right: 230px;
    z-index: 1;
}

    #viewCountHome {
        position: absolute;
        bottom: 120px;
    }

#about {
    width: 100%;
    color: #353D37;
    font-family: 'Canela Web Thin', serif;
    font-size: 3.2rem;
    font-weight: 100;
    margin: 20px 20px;
    line-height: 1.05;
}

    #about-mobile {
        display: none;
        margin: 20px 0px;
    }

.paragraphMarker {
    width: 40px;
    height: 25px;
    border: 1px solid #1E2B22;
    margin-right: 5px;
    display: inline-block;
}

a#room {
    font-family: 'Neue Haas Unica Pro';
    font-weight: 300;
}

#fade-left {
    width: 200px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10000;
    pointer-events: none; /* SUPER IMPORTANT */
    background: none; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, rgba(23, 27, 24, 0), rgba(23, 27, 24, 1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, rgba(23, 27, 24, 0), rgba(23, 27, 24, 1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, rgba(23, 27, 24, 0), rgba(23, 27, 24, 1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, rgba(23, 27, 24, 0), rgba(23, 27, 24, 1)); /* Standard syntax */
}

#fade-right {
    width: 200px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10000;
    pointer-events: none; /* SUPER IMPORTANT */
    background: none; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, rgba(23, 27, 24, 0), rgba(23, 27, 24, 1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(23, 27, 24, 0), rgba(23, 27, 24, 1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(23, 27, 24, 0), rgba(23, 27, 24, 1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(23, 27, 24, 0), rgba(23, 27, 24, 1)); /* Standard syntax */
}

#about-expanded {
    width: 95%;
    color: #353D37;
    font-family: 'Canela Web Thin', serif;
    font-size: 1.8rem;
    font-weight: 100;
    margin: 20px auto;
    line-height: 1.05;
}

input {
    display: none;
}

.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin-bottom: 1000px;
    background: rgba(248,247,248,1);
    margin-left: -57px;
    top: 0;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.overlay-text {
    /*padding: 20px 20px;*/
    width: 92%;
    margin: 20px auto;
    font-size: 1.8rem;
}

#about-open:checked~.overlay {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

label:hover {
    cursor: pointer;
}




.darkTheme {
    background-color: #171B18;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: #F0EEEE !important;
}

.paragraphMarkerDark {
    border: 1px solid #F0EEEE !important; }

#themeToggle {
    z-index: 10000;
   /* position: fixed;
    top: 700px;
    left: 100px;*/
    display: block;
    font-size: 0.8rem;
    position: absolute;
    right: 160px;
    margin-top: -15px;
    z-index: 1;
}



/* COUNTER MODS */

.realtimeuserscounter__attr {
    display: none !important;
   /* border: none !important;
    padding: 0 !important;
    background-color: transparent !important;
    color: #666 !important;
    font-size: 12px !important;*/
    }
.realtimeuserscounter--styled .realtimeuserscounter__attr:hover,
.realtimeuserscounter--styled .realtimeuserscounter__attr:focus,
.realtimeuserscounter--styled .realtimeuserscounter__attr:active {
    color: #333 !important;
}

.realtimeuserscounter__num:after {
    content:' currently viewing';
}









/* TYPE */
@font-face {
    font-family:'Canela Web Thin';
    src: url('../fonts/Canela Web Thin Regular.eot');
	src: url('../fonts/Canela Web Thin Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Canela Web Thin Regular.woff2') format('woff2'),
		url('../fonts/Canela Web Thin Regular.woff') format('woff'),
		url('../fonts/Canela Web Thin Regular.svg#Canela Web Thin Regular') format('svg');
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-201D;
}

@font-face {
    font-family:'Neue Haas Unica Pro';
    src: url('../fonts/Neue Haas Unica Pro Light.eot');
    src: url('../fonts/Neue Haas Unica Pro Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Neue Haas Unica Pro Light.woff2') format('woff2'),
        url('../fonts/Neue Haas Unica Pro Light.woff') format('woff'),
        url('../fonts/Neue Haas Unica Pro Light.svg#Neue Haas Unica Pro Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Neue Haas Unica Pro';
    src: url('../fonts/Neue Haas Unica Pro.eot');
    src: url('../fonts/Neue Haas Unica Pro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Neue Haas Unica Pro.woff2') format('woff2'),
        url('../fonts/Neue Haas Unica Pro.woff') format('woff'),
        url('../fonts/Neue Haas Unica Pro.svg#Neue Haas Unica Pro') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}



/* RESPONSIVE */

@media screen and (max-width: 1500px) {
    #about {
        font-size: 2.4rem;
    }

    .byline {
        margin-top: 20px; }
}

@media screen and (max-width: 1200px) {
    #about {
        font-size: 2.1rem;
    }
    .paragraphMarker {
        width: 30px;
        height: 18px;
    }
    #counter {
        left: 150px; }
    #viewCount {
        right: 150px; }
    #themeToggle {
        right: 80px; }

@media screen and (max-width: 920px) {
    .gallery img {
        padding: 20px 20px; }

        #about {
            font-size: 1.74rem;
            /*display: none;*/
        }

    #counter {
        left: 140px; }
    #viewCount {
        right: 140px; }
     #themeToggle {
        right: 70px; }
}

@media screen and (max-width: 790px) {
    #about {
        font-size: 1.4rem;
        line-height: 1.2;
        /*display: none;*/
    }
    .paragraphMarker {
        width: 20px;
        height: 12px;
    }
    #counter {
        left: 80px; }
    #viewCount {
        right: 80px; }
    #themeToggle {
        right: 8px; }

}

@media screen and (max-width: 660px) {
    .gallery img {
        padding: 20px 20px; }

    .slick-list {
        overflow: visible;
    }
    #about-desktop {
        display: none;
    }

    #about-mobile {
        display: inline;
        font-size: 1.8rem;
    }
    #counter {
        left: 60px; }
    #viewCount {
        right: 60px; }

    .byline {
        margin-top: 5px; }

}


