body {
	background-color: #EFEEEC;
	color: #35363C;
	font-family: 'Vaud', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#nav {
	text-transform: uppercase;
	letter-spacing: 0.8px;
	font-weight: 600;
	font-size: 1.1rem;
	margin: 20px 0px;
	text-align: left;
}

	#nav a {
		margin-right: 20px;
	}

	#nav a:last-child {
		margin:0;
	}

	#nav-right {
		float: right;
		text-align: right;
	}

	@media (max-width: 1200px) {
		#nav-right {
			float: left;
			text-align: left;
			margin-top:10px;
		}
	}

#intro {
	padding: 250px 0px 180px 0px;
	background-image:url(../assets/lightbulb.png);
	background-repeat: no-repeat;
	background-position: 85% 150%;
  	background-size: 520px;
}

	@media (max-width: 550px) {
		#intro {
			background-position: 90% 200%;
			background-size:400px;
		}
	}

#play-tour {
	margin-top: 140px;
	background: #FF6A50;
	border: none;
	border-radius: 2px;
	color: #FAFAFA;
	padding: 8px 76px 42px 70px;
	-moz-transition: 0.2s ease-in;
	-webkit-transition: 0.2s ease-in;
	-transition: 0.2s ease-in;
}
	#play-tour:hover {
		background: #F9563A;
	}

	#icon-play {
		position: relative;
		left: 5px;
		top: 4px;
	}

	.modalDialog {
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background: rgba(255, 255, 255, 0.96);
	    z-index: 1000;
	    opacity: 0;
	    -webkit-transition: opacity 200ms ease-in;
	    -moz-transition: opacity 200ms ease-in;
	    transition: opacity 200ms ease-in;
	    pointer-events: none;
	}

	.modalDialog:target {
	    opacity:1;
	    pointer-events: auto;
	}

	.modalDialog > div {
	    width: 100%;
	    height: 100%;
	    position: relative;
	    margin: 0 auto;
	    padding-top: 60px;
	    text-align: center;
	}

	a.close {
		display: block;
		padding-top: 20px;
		text-align: center;
	}


	@media (max-width: 550px) {
		#intro {
			padding: 100px 0px 80px 0px;
		}

		#play-tour {
			margin-top: 200px;
		}
	}

.actions {
	color: #FAFAFA;
}
	.actions .columns {
		margin: 0;
		width: 50%;
		text-align: center;
		padding: 60px 0px;
		-moz-transition: 0.1s ease-in;
		-webkit-transition: 0.1s ease-in;
		-transition: 0.1s ease-in;
	}

	@media (max-width: 1120px) {
		.actions .columns {
			width: 100%;
		}
	}

.navy { background-color: #4F6288; }
.navy:hover { background-color: #3E537C; }

.blush { background-color: #E59DAE; }
.blush:hover { background-color: #D58195; }

.sage { background-color: #6B7E74; }
.sage:hover { background-color: #4D6257; }

.tangerine { background-color: #FF6A50; }
.tangerine:hover { background-color: #F9563A; }


#studentinfo, #feature-search {
	padding: 80px 0px;
	text-align: center;
}

	ul.list_subjects, ul.list_subjects li a {
		display: inline-block;
		z-index: 1000;
	}

	ul.list_subjects li {
		display: inline-block;
		margin-right: 10px;
		padding: 10px 20px 8px 20px;
		border-radius: 100px;
		-webkit-transition: 0.1s;
		-transition: 0.1s;
	}

	ul.list_subjects li:hover {
		background: rgba(199,211,215,0.85);
		cursor: pointer;
	}

	.active {
		color: #FF6A50;
		-webkit-transition: 0.1s;
		-transition: 0.1s;
	}

	#screens_subjects {
		position: relative;
		top: -280px;
		width: 1200px;
		height: 775px;
		margin: 120px auto 100px auto;
		z-index: -1000;
	}

	#screens_subjects video {
		width: 100%;
		margin: 0 auto;
	}

	#biology, #arthistory, #psych, #econ {
		padding-top: 360px;
		z-index: 100;
	}

	#title-study {
		margin-right: 60px;
	}

	@media (max-width: 1400px) {
		#screens_subjects {
			width: 100%;
			height: auto;
			margin: 14% auto 92% auto;
		}
	}

	@media (max-width: 1200px) {
		#screens_subjects {
			width: 100%;
			height: auto;
			margin: 20% auto 92% auto;
		}
	}

	@media (max-width: 850px) {
		#screens_subjects {
			width: 100%;
			height: auto;
			margin: 30% auto 102% auto;
		}

		#title-study {
			margin-right: 0px;
		}

		ul.list_subjects li {
			display: inline-block;
			margin-top: 10px;
			padding: 10px 20px 8px 20px;
			border-radius: 100px;
			-webkit-transition: 0.1s;
			-transition: 0.1s;
		}
	}

	@media (max-width: 670px) {
		#screens_subjects {
			margin: 43% auto 120% auto;
		}
	}

	@media (max-width: 600px) {
		#screens_subjects, ul.list_subjects, #title-study {
			display: none;
		}
	}

	.screens01, .screens02, .screens03, .screens04 {
		position: absolute;
		/*top: -200px;*/
	}

	.screens {
		display: none;
	}

	.screens:target {
		display: block;
		margin: 0 auto;
	}

	#arthistory {
		display: block;
	}

#search_screens {
	width: 100%;
}

#search_screens img {
	display: inline-block;
	margin-right: 20px;
	vertical-align: top;
}

	#search04 { margin-top: 2%; }
	#search05 { margin-top: -3%; }
	#search06 { margin-top: -6.5%; }
	#search07 { margin-top: -4.5%; }
	#search08 { margin-top: 1.5%; }
	#search09 { margin-top: 1%; }

	.faded {
		opacity: 0.2 !important;
	}

	.x-def, .x-ent, .x-cxt, .x-rel, .x-pop {
		-webkit-transition: 0.25s;
		-transition: 0.25s;
	}

#features-extra {
	padding: 60px 0px 20px 0px;
	background: #CCD6D1;
}

	#features-extra p {
		margin-top: -10px;
	}

	#features-extra a {
		font-weight: 600;
		letter-spacing: 0.2px;
	}

	#features-extra a:hover {
		color: #FF6A50;
	}

	#features-extra img {
		display: block;
		height: 100px;
		margin: 25px auto 30px auto;
	}

/* TYPE */

h1 {
	font-family: 'Lyon Display', serif;
	font-weight: 500;
	letter-spacing: 0px;
	line-height: 1;
}

h2 {
	font-family: 'Lyon Display', serif;
	font-weight: 500;
	letter-spacing: 0px;
}

h3 {
	font-family: 'Lyon Display', serif;
	font-weight: 500;
	letter-spacing: 0px;
}

h6 {
	text-transform: uppercase;
	letter-spacing: 0.8px;
	font-weight: 600;
	font-size: 1.1rem;
}

a {
	text-decoration: none;
	color: inherit;
	-moz-transition: 0.1s ease-in;
	-webkit-transition: 0.1s ease-in;
	-transition: 0.1s ease-in;
}
	a:hover {color:inherit;}
	#nav a:hover {
		color: #FF6A50;
	}

p {
	font-weight: 500;
}

/* WORD SPINNER */

	.rw-wrap {

	}

	.rw-words {
		/*display: inline;*/
	}

	.rw-words-1 span {
		position: absolute;
		/*display: inline;*/
		width: 50%;
		margin-top: -20px;
		opacity: 0;
		-webkit-animation: rotateWord 16s linear infinite 0s;
		-ms-animation: rotateWord 16s linear infinite 0s;
		animation: rotateWord 16s linear infinite 0s;
	}
	.rw-words-1 span:nth-child(2) {
	    -webkit-animation-delay: 	4s;
		-ms-animation-delay: 		4s;
		animation-delay: 			4s;
	}
	.rw-words-1 span:nth-child(3) {
	    -webkit-animation-delay: 	8s;
		-ms-animation-delay: 		8s;
		animation-delay: 			8s;
	}
	.rw-words-1 span:nth-child(4) {
	    -webkit-animation-delay: 	12s;
		-ms-animation-delay: 		12s;
		animation-delay: 			12s;
	}
	.rw-words-1 span:nth-child(5) {
	    -webkit-animation-delay: 	16s;
		-ms-animation-delay: 		16s;
		animation-delay: 			16s;
	}

	@-webkit-keyframes rotateWord {
	    0% { opacity: 0; }
	    2% { opacity: 0; -webkit-transform: translateY(-10px); }
		5% { opacity: 1; -webkit-transform: translateY(0px);}
	    17% { opacity: 1; -webkit-transform: translateY(0px); }
		22% { opacity: 0; -webkit-transform: translateY(10px); }
		30% { opacity: 0; }
	    100% { opacity: 0; }
	}
	@-ms-keyframes rotateWord {
	    0% { opacity: 0; }
	    2% { opacity: 0; -ms-transform: translateY(-10px); }
		5% { opacity: 1; -ms-transform: translateY(0px);}
	    17% { opacity: 1; -ms-transform: translateY(0px); }
		22% { opacity: 0; -ms-transform: translateY(10px); }
		30% { opacity: 0; }
	    100% { opacity: 0; }
	}
	@keyframes rotateWord {
	    0% { opacity: 0; }
	    2% { opacity: 0; -webkit-transform: translateY(-10px); transform: translateY(-10px); }
		5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
	    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
		22% { opacity: 0; -webkit-transform: translateY(10px); transform: translateY(10px); }
		30% { opacity: 0; }
	    100% { opacity: 0; }
	}

/* SCREEN-FRIENDLINESS */

	@media (max-width: 1200px) {
		.rw-words-1 span {
			position: absolute;
			width: 100%;
		}
	}

/* FONTS */

@font-face {
		font-family:'Lyon Display';
		src: url('../fonts/LyonDisplay-Medium.eot');
	src: url('../fonts/LyonDisplay-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LyonDisplay-Medium.woff2') format('woff2'),
		url('../fonts/LyonDisplay-Medium.woff') format('woff'),
		url('../fonts/LyonDisplay-Medium.svg#LyonDisplay-Medium') format('svg');
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		unicode-range: U+0020-00FE;
}

@font-face {
		font-family:'Lyon Display';
		src: url('../fonts/LyonDisplay-MediumItalic.eot');
	src: url('../fonts/LyonDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LyonDisplay-MediumItalic.woff2') format('woff2'),
		url('../fonts/LyonDisplay-MediumItalic.woff') format('woff'),
		url('../fonts/LyonDisplay-MediumItalic.svg#LyonDisplay-MediumItalic') format('svg');
		font-weight: 500;
		font-style: italic;
		font-stretch: normal;
		unicode-range: U+0020-00FE;
}

	@font-face {
	    font-family:'Vaud';
	    src: url('../fonts/Vaud Medium.eot');
		src: url('../fonts/ Medium.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Vaud Medium.woff2') format('woff2'),
			url('../fonts/Vaud Medium.woff') format('woff'),
			url('../fonts/Vaud Medium.svg#Vaud Medium') format('svg');
	    font-weight: 600;
	    font-style: normal;
	    font-stretch: normal;
	    unicode-range: U+0020-00FE;
	}
